<a href="https://colab.research.google.com/github/Adedotun-Adepoju/Hamoye-codes/blob/master/Quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Loading Data set

In [3]:
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url, error_bad_lines=False)

In [5]:
fuel_data.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

Question 3

In [31]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().idxmin()

'gas'

Question 4

In [34]:
print(fuel_data['fuel_mmbtu_per_unit'].std())
print(np.percentile(fuel_data['fuel_mmbtu_per_unit'],q=75))

10.600220307806886
17.006

Question 5

In [13]:
print(fuel_data['fuel_qty_burned'].skew(axis=0).round(2))
print(fuel_data['fuel_qty_burned'].kurtosis(axis=0).round(2))

15.85
651.37

Question 6

In [14]:
fuel_data.isnull().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [15]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [20]:
(fuel_data.isnull().sum()/len(fuel_data)).round(3)*100

record_id                       0.0
utility_id_ferc1                0.0
report_year                     0.0
plant_name_ferc1                0.0
fuel_type_code_pudl             0.0
fuel_unit                       0.6
fuel_qty_burned                 0.0
fuel_mmbtu_per_unit             0.0
fuel_cost_per_unit_burned       0.0
fuel_cost_per_unit_delivered    0.0
fuel_cost_per_mmbtu             0.0
dtype: float64

Question 8

In [23]:
fuel_data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [22]:
a=fuel_data.corr()
a.iloc[4].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

Question 9

In [29]:
a=fuel_data[fuel_data['fuel_type_code_pudl']=='coal']
c=a.groupby('report_year')['fuel_cost_per_unit_burned'].sum()
(c.loc[1998]-c.loc[1994])/c.loc[1994] *100

-20.56765451826049

Question 9

In [30]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().idxmax()

1997